{% extends "base.html" %}

{% block headtitle %}Debug - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}

<meta property="og:title" content="About - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
			"@type": "WebPage",
	        "@id": "{{FRONTEND_HOST}}"
	    }
    },
    {
		"@type": "ListItem",
		"position": 3,
        "name": "Debug",
        "item": {
			"@type": "DebugPage",
	        "@id": "{{FRONTEND_HOST}}/debug"
	    }
    }]
}
</script>

{% endblock headermeta %}

{% block innercontent %}
<div class="custom-page-wrapper">
	<h2>Debug information</h2>
	<hr/>

	<h5>Web Browser</h5>
	<p>Enable JS to display</p>

	<h5>Operating System</h5>
	<p>Enable JS to display</p>

	<h5>User Agent</h5>
	<p>Enable JS to display</p>

	<h5>Other options</h5>
	<p>Cookies Enabled - Enable JS to display</p>
	<p>Media Capabilities - Enable JS to display</p>

	<h5>Server</h5>
	<p>Server Linux OS - Enable JS to display</p>

</div>
{% endblock %}

{% block bottomimports %}
<script src="{% static "js/debug.js" %}"></script>
{% endblock bottomimports %}